<p style=""><span style="font-family: 'Open Sans',sans-serif;">You can connect to your IFC server using any Web browser; just point it toyour IFC server and enter your username and password. Supported Webbrowsers are:</span></p>

<ul>
    <li>

        <p><span style="font-family:'Open Sans',sans-serif;"><strong>Mozilla Firefox</strong> 14+</span></p>
    </li>
    <li>

        <p><span style="font-family: 'Open Sans',sans-serif;"><strong>Google Chrome/Chromium</strong> 18+</span></p>
    </li>
    <li>

        <p><span style="font-family: 'Open Sans',sans-serif;"><strong>Safari</strong> 7+</span></p>
    </li>
    <li>

        <p><span style="font-family: 'Open Sans',sans-serif;"><strong>Internet Explorer</strong> 11+</span></p>
    </li>
    <li>

        <p><strong><span style="font-family: 'Open Sans',sans-serif;">Microsoft Edge</span></strong></p>
    </li>
</ul>

<p style=""><img class="fr-dib fr-draggable fr-fil" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43000237957/original/Dmm5S22pZs8-1-_XK6xfFQQfQAnlnxke6w.png?1528349248" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43000237957/original/Dmm5S22pZs8-1-_XK6xfFQQfQAnlnxke6w.png?1528349248" data-fileid="43000237957" data-uniquekey="1528349074880" style="width: 402px; height: 280.523px;"></p>

<p style="">
    <br>
</p>

<h2 style=""><span style="font-family: 'Open Sans',sans-serif;">Navigating the main user interface</span></h2>

<p style=""><span style="font-family: 'Open Sans',sans-serif;">By default, the IFC Web interface opens to your Files page. You can add,remove, and share files, and make changes based on the access privileges set byyou (if you are administering the server) or by your server administrator.</span></p>

<p style="">
    <br>
</p>

<p style=""><img class="fr-draggable fr-bordered fr-dib" src="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43000238104/original/ToA2dW0IDW0tXTPpVEPLXUt_YjbK83LI6g.png?1528349609" style="width: 1365px; height: 716.662px;" data-filelink="https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/43000238104/original/ToA2dW0IDW0tXTPpVEPLXUt_YjbK83LI6g.png?1528349609" data-fileid="43000238104" data-uniquekey="1528349074880"></p>

<p style="">
    <br>
</p>

<p style="">The IFC user interface contains the following fields and functions:</p>

<h3 style=""><strong><span style="font-size: 13px; font-family: &quot;Times New Roman&quot;, Times, serif;">I.Apps Selection Menu</span></strong><strong><span style="font-size: 13px; font-family: &quot;Times New Roman&quot;, Times, serif;">&nbsp;</span></strong></h3>

<h3 style=""><strong><span style="font-size: 13px; font-family: &quot;Times New Roman&quot;, Times, serif;"></span></strong><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;">&nbsp; &nbsp; &nbsp;(1): Located in the upper left corner, you’ll find allyour apps which are available on your instance of Nextcloud. Clicking on anapps icon will redirect you to the app.</span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;"><strong>II.Apps Information</strong> field&nbsp;</span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;">&nbsp; &nbsp; (2): Located in the left sidebar, this providesfilters and tasks associated with your selected app. For example, when youare using the Files apps you have a special set of filters for quicklyfinding your files, such as files that have been shared with you, and &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; filesthat you have shared with others. You’ll see different items for other apps.</span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;"><strong>III.Application View</strong></span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;"><strong>&nbsp; &nbsp;&nbsp;</strong> (3): The main central field in the Nextcloud user interface.This field displays the contents or user features of your selected app.</span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;"><strong>IV.Navigation Bar</strong></span></span>
</h3>

<h3 style=""><span style="font-family: 'Open Sans',sans-serif;"><span style="font-size: 13px;"><strong>&nbsp; &nbsp;&nbsp;</strong> (4): Located over the main viewing window (the ApplicationView), this bar provides a type of breadcrumbs navigation that enables you tomigrate to higher levels of the folder hierarchy up to the root level (home).</span></span>
</h3>

<h3 style=""><span style="font-size: 13px; font-family: &quot;Times New Roman&quot;, Times, serif;"><strong>V. New</strong> button</span></h3>

<h3 style=""><span style="font-size: 13px; font-family: &quot;Times New Roman&quot;, Times, serif;">&nbsp; &nbsp; &nbsp;(5): Located in the Navigation Bar, the <code>New</code> buttonenables you to create new files, new folders, or upload files. &nbsp; &nbsp;</span>The IFC user interface contains the following fields and functions:</h3>

<h2 style=""><strong><span style="font-family: &quot;Times New Roman&quot;, Times, serif; font-size: 13px;">VI.Search</span></strong><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">&nbsp;field&nbsp;</span></span><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;"></span></span>
</h2>

<h2 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">&nbsp; &nbsp; (6): Click on the magnifier in the upper right hand corner ofto search for files.</span></span>
</h2>

<h2 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;"><strong>VII. Contacts Menu</strong>&nbsp;</span></span>
</h2>

<h2 style=""><span style="font-size: 13px;">&nbsp; &nbsp;&nbsp;</span><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">(7): Gives you an overview about your contacts and users onyour server. Dependent on the given details and available apps, you candirectly start a video call with them or send emails.</span></span>
</h2>

<h2 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;"><strong>VIII. Gallery</strong> button</span></span>
</h2>

<h2 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">&nbsp; &nbsp; &nbsp;(8). This looks like four little squares, and takes youdirectly to your image gallery.</span></span>
</h2>

<h3 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;"><strong>IX. Personal Settings</strong> menu&nbsp;</span></span>
</h3>

<h3 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">&nbsp; &nbsp; (9): Click on the gear icon or your profile picture,located to the right of the Search field, to open your Personal Settings dropdown menu.<br></span></span>
</h3>

<h3 style=""><span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;">&nbsp; &nbsp; &nbsp; &nbsp;<span style="font-size: 13px;"><span style="font-family: 'Open Sans',sans-serif;"><strong>Your Personal page provides the following features:</strong></span></span>
    <br>
    </span>
    </span>
</h3>

<ol>
    <li>

        <h4 style="">Links to download desktop and mobile apps</h4>
    </li>
    <li>

        <h4 style="">Re-run the First Run Wizard</h4>
    </li>
    <li>

        <h4 style="">Server usage and space availability</h4>
    </li>
    <li>

        <h4 style="">Password management</h4>
    </li>
    <li>

        <h4 style="">Name, email, and profile picture settings</h4>
    </li>
    <li>

        <h4 style="">Manage connected browsers and devices</h4>
    </li>
    <li>

        <h4 style="">Group memberships</h4>
    </li>
    <li>

        <h4 style="">Interface language settings</h4>
    </li>
    <li>

        <h4 style="">Manage notifications</h4>
    </li>
    <li>

        <h4 style="">Federated Cloud ID and social media-sharing buttons</h4>
    </li>
    <li>

        <h4 style="">SSL certificate manager for external storages</h4>
    </li>
    <li>

        <h4 style="">Your Two-factor Setting</h4>
    </li>
</ol>

<p style=""><span style="font-size: 13px; font-family: &quot;'Open Sans',sans-serif;"></span></p>
<hr>


